name: pull-request-linter

on:
  pull_request:
    branches: [ master ]

jobs:

  linter:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        python-version: ['3.10']

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Get file diff
      id: diff-files
      uses: trilom/file-changes-action@v1.2.4
      with:
        output: '\n'
        fileOutput: '\n'
    - name: Get Python file diff
      id: pydiff
      run: >
        echo "::set-output name=pyfiles::$(echo -e
        '${{ steps.diff-files.outputs.files_added }}\n${{ steps.diff-files.outputs.files_modified }}'
        | grep '\.py' | tr '\n' ' '
        )"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8 black codespell
    - name: Check code formatting
      run: black . --check
    - name: Check spelling
      run: codespell -L halp,ot,pres -d pynetdicom
    - name: Check for syntax errors
      run: python -m flake8 --select=E901,E999,F821,F822,F823 ${{ steps.pydiff.outputs.pyfiles }} --ignore F821
    - name: Check for style warnings
      run: python -m flake8 --exit-zero ${{ steps.pydiff.outputs.pyfiles }}
